/* */
body{
    background: linear-gradient(180deg, rgba(236, 200, 102, 0.473) 0%, rgba(209, 179, 46, 0.37) 9%, rgba(255,206,0,0.6859536050748425) 100%);
    background-image: url(../static/Background2.png) !important;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

form{
    background: rgba(252, 218, 155, 0.795);
    padding: 15px;
}

label{
    font-size: x-large;
    color: #000000;
    font-family: "Lobster";
    -webkit-text-stroke: .5px #916580;
}

p{
    font-size: 25px;
    color: #000000;
    font-family: "Lobster";
}


a{
    font-size: medium;
    color: #4720f5;
    font-family: "Lobster";
    animation: .5s ease-in-out;
}
a:hover{
    font-size: large;
    color: #4720f5;
    font-family: "Lobster";
    animation: .5s ease-in-out;
    text-decoration: underline 1px;
}

#title{
    color: #ffe9a8;
    font-family: "Lobster";
    font-size: 50px;
    -webkit-text-stroke: .1px #8d6a00;
}