<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recover your account now!</title>
  <link rel="stylesheet" href={{url_for('static',filename="sheet.css")}}>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <div class="wrapper">
    <form action="">
      <h1>R E C O V E R</h1>
      <div class="input-box">
        <input type="text" placeholder="Email / Username" required>
        <i class='bx bxs-user'></i>
      </div>
      <p>
        A recovery link will be sent to the inserted email.
      </p>
      <button type="submit" class="btn">Confirm</button>
    </form>
  </div>
</body>
</html>